<% information.each do |information| %>

  <div class="panel panel-default">
    <div class="panel-heading"><%= information.time %> <%= information.place %> <%= information.place_time %></div>
      <div class="panel-body">
        <p><%= information.place_comment %></p>
      </div>
  </div>
    
  <% unless information.move_start == "" && information.move_goal == "" && information.move_time == "" %>
    <div class="media">
      <div class="media-body">
        <% if information.move_by == "車" %>
          <p> <span class="glyphicon glyphicon-road"></span> <%= information.move_start %><span class="glyphicon glyphicon-chevron-right"></span><%= information.move_goal %></p>
        <% elsif information.move_by =="歩き" %>
            <p> <span class="glyphicon glyphicon-user"></span> <%= information.move_start %><span class="glyphicon glyphicon-chevron-right"></span><%= information.move_goal %></p>
        <% elsif information.move_by =="バス" %>
            <p> <span class="glyphicon glyphicon-bed"></span> <%= information.move_start %><span class="glyphicon glyphicon-chevron-right"></span><%= information.move_goal %></p>
        <% elsif information.move_by =="飛行機" %>
            <p> <span class="glyphicon glyphicon-plane"></span> <%= information.move_start %><span class="glyphicon glyphicon-chevron-right"></span><%= information.move_goal %></p>    
        <% elsif information.move_by =="電車" %>
            <p> <span class="glyphicon glyphicon-queen"></span> <%= information.move_start %><span class="glyphicon glyphicon-chevron-right"></span><%= information.move_goal %></p>
        <% else %>
            <p> <span class="glyphicon glyphicon-briefcase"></span> <%= information.move_start %><span class="glyphicon glyphicon-chevron-right"></span><%= information.move_goal %></p>
        <% end %>
        <p><span class="glyphicon glyphicon-time"></span> <%= information.move_time %></p>
      </div>
    </div>
    <% end %>
    
<% end %>