<ul class="media-list">
  <% microposts.each do |micropost| %>
    <div class="panel panel-default">
      <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(micropost.user, options = { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%# link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted"><%# micropost.created_at %></span>
        </div>
        <div class="tripost">
          <p><%= link_to micropost.title, micropost ,:target=>["_blank"] %></p>
          <div class="label label-default label_tripost"><%= micropost.theme.name %></div>
          <div class="label label-default label_tripost"><%= micropost.destination.name %></div>
          <div class="label label-default label_tripost"><%= micropost.long.name %></div>
          <div class="label label-default label_tripost"><%= micropost.money.name %></div>
          <div class="btn_tripost">
          <% if current_user == micropost.user %>
            <%# link_to "詳細", micropost ,:target=>["_blank"], class: "btn btn-outline-primary btn-xs" %>
            <%= link_to "ルート作成", new_information_path(id: micropost.id), class: "btn btn-success btn-xs" %>
            <%= link_to "編集", edit_tripost_path(micropost), class: "btn btn-primary btn-xs" %>
            <%= link_to "削除", micropost , method: :delete, data: {confirm: "You sure?"}, class: "btn btn-danger btn-xs" %>
          <% end  %>
          </div>
        </div>
      </div>
    </li>
    </div>
  <% end %>
  <%# paginate microposts %>
</ul>