    <%= form_for(task) do |f| %>
      <% if task.errors.any? %>
        <div class="alert alert-warning"  id="error_explanation">
          <ul>
            <% task.errors.full_messages.each do |task| %>
              <li><%= task %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    <div class="panel panel-success">
      <div class="panel-heading">ルートを作成する</div>
      <div class="panel-body">
      
      <div class="form-group"> 
        <%= f.label :time, '時間' %>
        <%= f.select :time,[["06:00", "06:00"], ["06:30", "06:30"], ["07:00", "07:30"], ["08:00", "08:00"], ["08:30", "08:30"], ["09:00", "09:00"], ["09:30", "09:30"], ["10:00", "10:00"], ["10:30", "10:30"], ["11:00", "11:00"], ["11:30", "11:30"], ["12:00", "12:00"], ["12:30", "12:30"]], ["13:00", "13:00"]], ["13:30", "13:30"]], ["14:00", "14:00"]], ["14:30", "14:30"]], ["15:00", "15:00"]], ["15:30", "15:30"]], ["16:00", "16:00"]], ["16:30", "16:30"]], ["17:00", "17:00"]], ["17:30", "17:30"]], ["18:00", "18:00"], ["18:30", "18:30"], ["19:00", "19:00"], ["19:30", "19:30"], ["20:00", "20:00"], ["20:30", "20:30"], ["21:00", "21:00"], ["21:30", "21:30"], ["22:00", "22:00"], ["22:30", "22:30"], ["23:00", "23:00"], ["23:30", "23:30"], ["24:00", "24:00"]] %>
        <%# f.datetime_select :time, {:discard_year => true,:discard_month => true,:discard_day => true} %>
      </div>
      
      <div class="form-group">
        <%= f.text_field :place,:placeholder => "場所",class:"form-control" %>    
      </div>
    
      <div class="form-group">
        <%= f.text_field :place_comment,:placeholder => "コメント", class:"form-control" %>    
      </div>
      
      <div class="form-group">
        <%= f.text_field :place_time,:placeholder => "滞在時間",class:"form-control" %>    
      </div>
    
      <div class="form-group">
        <%= f.label :move_by, '移動手段' %>
        <%= f.select :move_by,[["歩き", "歩き"], ["バス", "バス"], ["車", "車"], ["飛行機", "飛行機"], ["電車", "電車"], ["その他", "その他"]] %>    
      </div>
      
      <div class="form-group">
        <%= f.text_field :move_start, :placeholder => "発", class:"form-control" %>    
      </div>
      
      <div class="form-group">
        <%= f.text_field :move_goal, :placeholder => "着",class:"form-control" %>    
      </div>
    
      <div class="form-group">
        <%= f.text_field :move_time, :placeholder => "移動時間",class:"form-control" %>    
      </div>
      
      <%= hidden_field_tag :id, params[:id] %>
      <%= f.submit '登録',class:"btn btn-primary" %>
      
      </div>
    </div>
      
    <% end %>
  
