<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">
  
    <%= form_for(task) do |f| %>
      <% if task.errors.any? %>
        <div class="alert alert-warning"  id="error_explanation">
          <ul>
            <% task.errors.full_messages.each do |task| %>
              <li><%= task %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group"> 
        <%= f.label :time, '時間' %>
        <%= f.select :time,[["00:00", "00:00"], ["01:00", "01:00"]]  %>
        <%# f.datetime_select :time, {:discard_year => true,:discard_month => true,:discard_day => true} %>
      </div>
      
      <div class="form-group">
        <%= f.text_field :place,:placeholder => "場所",class:"form-control" %>    
      </div>
    
      <div class="form-group">
        <%= f.text_field :place_comment,:placeholder => "コメント", class:"form-control" %>    
      </div>
      
      <div class="form-group">
        <%= f.text_field :place_time,:placeholder => "滞在時間",class:"form-control" %>    
      </div>
    
      <div class="form-group">
        <%= f.label :move_by, '移動手段' %>
        <%= f.text_field :move_by,class:"form-control" %>    
      </div>
      
      <div class="form-group">
        <%= f.text_field :move_start, :placeholder => "発", class:"form-control" %>    
      </div>
      
      <div class="form-group">
        <%= f.text_field :move_goal, :placeholder => "着",class:"form-control" %>    
      </div>
    
      <div class="form-group">
        <%= f.text_field :move_time, :placeholder => "移動時間",class:"form-control" %>    
      </div>
      
      <%= hidden_field_tag :id, params[:id] %>
      <%= f.submit '登録',class:"btn btn-primary" %>
    <% end %>
  
  </div>
</div>